:root {
  --blue: rgb(19, 16, 36);
  --white: rgb(236, 236, 236);
  --btn-bg: #570a57;
  --text-clr: #333;
  --btn-text-clr: #fff;
  --btn-background-clr: #0b5ed7;
  
}
body,
.btn {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
  font-weight: var(--font-weight) !important;
  border: var(--border-btn) !important;

  transition: background 0.3s ease-in-out, color 0.6s ease-in-out !important;
  -webkit-transition: background 0.3s ease-in-out, color 0.6s ease-in-out !important;
  -moz-transition: background 0.3s ease-in-out, color 0.6s ease-in-out !important;
  -ms-transition: background 0.3s ease-in-out, color 0.6s ease-in-out !important;
  -o-transition: background 0.3s ease-in-out, color 0.6s ease-in-out !important;
}

.btn {
  color: var(--btn-text-clr) !important;
  background: var(--btn-bg-clr) !important;
}

h1,h2,h3,h4,h5,h6{
  color:var(--heading-clr)!important;
}

body.light,
.btn.light,h1.light,h2.light,h3.light,h4.light,h5.light,h6.light {
  --background-color: var(--white) !important;
  --text-color: var(--text-clr) !important;
  --font-weight: 400 !important;
  --border-btn: none !important;
  --btn-text-clr: var(--white) !important;
  --btn-bg-clr: var(--btn-background-clr) !important;
  --heading-clr: var(--text-clr) !important;
   
}

body.dark,
.btn.dark,h1.dark,h2.dark,h3.dark,h4.dark,h5.dark,h6.dark{
  --background-color: var(--blue) !important;
  --text-color: var(--text-clr) !important;
  --font-weight: 500 !important;
  --btn-text-clr: var(--white) !important;
  --btn-bg-clr: #2e0249 !important;
  --heading-clr:var(--white)  !important;
}

/* .btn {
  background: var(--btn-background-color) !important;
}

.btn.dark {
  --btn-background-color: var(--btn-bg) !important;
}
.btn.light {
  --btn-background-color: var(--blue) !important;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.dark-theme {
  --main-heading: #5f99be;
  --para-clr: #fff;
  --btn-bg-clr: #5f99be;
  --btn-text-clr: #fff;
  --bg-clr: #111b20;
}

.light-theme {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-clr: #111b20;
  --btn-text-clr: #fff;
  --bg-clr: #fff;
}
h1 {
  font-size: 5rem;
  color: var(--main-heading);
}
p {
  font-size: 2rem;
  color: var(--para-clr);
}

.btn {
  background-color: var(--btn-bg-clr) !important;
  color: var(--btn-text-clr);
}

body {
  background-color: var(--bg-clr) !important;
} */
